/node_modules

/public/hot
/public/storage
/public/users/*
/public/uploads/*
/public/company_logo/*
/public/shadow-file/*
/public/certificate/*

storage/*
bootstrap/cache/

/vendor
.env
.env.example

composer.lock
package-lock.json
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.editorconfig

.docker
Dockerfile
docker-compose.yml

default.conf
deployment